/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Starting custom css */
img {
    width: inherit;
    max-width: 100%;
    height: auto;
}

body {
    background: #FFF;
    color: inherit;
}

header {
    margin: 0em auto 0.32em;
    background: #FFF;
    color: inherit;
    display: flex;
}

content {
    width: 100%;
    background-color: #fff;
    color: inherit;
}

footer {
}

ul,ol {
    list-style: none;
    padding: 0;
}

ol.main-menu {
    justify-content: space-around;
    display: flex;
    width: inherit;
}

ol.main-menu a {
    padding: 10px 0;
    display: block;
    color: #1b1b1b;
}

.logo {
    display: block;
    float: left;
    width: 396px;
    height: inherit;
    flex-basis: 450px;
}

.header-main {
    padding: 36px 24px 24px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-flow: row
}

.page-header-main {
    align-items: center;
    display: grid;
    position: relative;
    top: inherit;
    left: inherit;
    background-color: #fff;
    width: 100%;
}

.navbar {
    position: relative;
}

.breadcrumb {
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    padding: 12px 24px;
}

.article {
    width: 90%;
    background: white;
    margin: 0em auto;
    padding: 0em;
    color: inherit;
}

.article h1 {
    font-weight: bold;
    font-size: 1.5em;
    background-color: inherit;
    color: red;
    width: 100%;
}

.article p {
    font-size: 1em;
}

.content-container {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
}

.link-list-wcrp {
    grid-column: 1/2;
    grid-row: 1/3
}

.link-list-toao {
    grid-column: 2/3;
    grid-row: 1/3
}

.nav-footer {
    padding: 48px 24px;
    position: relative;
    background-color: #1b1b1b;
    color: #fff;
}

.license {
    margin: 50px 0 30px;
    padding: 30px 0 0;
    border-top: 1px solid #f4f4f4;
    grid-row: 6/7;
    grid-column: 1/3;
}

.nav-footer ol a {
    color: #fff;
    padding: 10px 0;
    display: block;
}

.wrapper {
    width: 100%;
}
